html{
height: 100%;
width: 100%;
margin:0;
padding:0;
}
body{
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
}

header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    box-shadow: 0 0 4px rgba(0,0,0,.1);
    background-color: white;
    position: fixed;
    z-index: 1;
}

a{
    text-decoration: none;
    color:black;
}
.navmenu__burger{
    height: 25px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.navmenu__burger_line1{
    height: 4px;
    width: 35px;
    background-color: black;
}
.navmenu__burger_line2{
    height: 4px;
    width: 35px;
    background-color: black;
}
.navmenu__burger_line3{
    height: 4px;
    width: 35px;
    background-color: black;
}

.headar-linkshop {
    height: 40px;
    width: 100px;
}

.headar-linkshop img{
   height: 50px;
   width: 40px;
   position: relative;
   left: -10px;
}

.headar-linkshop{
    display: flex;
    position: relative;
    left:-150px;
}

.headar-linkshop a{
    align-self:center;
    font-size:24px;
    letter-spacing: 1px;

}

.header-linkcart{
    display: flex;
}

.header-linkcart a{
    align-self:center;
    font-size:24px;
    letter-spacing: 1px;
}

.header-linkcart img{
    height: 30px;
    width: 30px;
    margin-right:25px;
}

.headerlogo-home img{
    position: relative;
    left: -140px;
    width: 185px;
    height: 33px;
}
.main-cover{
    width: 100%;
    height:880px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-cover__link1{
    background: none;
    border:0;
    background: none;
    border-bottom: 3px solid white;
    color:white;
    align-self: flex-start;   
    position: relative;
    top:350px;
    transform: rotate(270deg);
    margin-left: 70px;
    font-size:18px;
}

.main-cover_content__link:hover{
background-color: white;
color:black;
transition-duration: 1s;
}
.main-cover__link2{
        border:0;
        background: none;
        border-bottom: 3px solid white;
        color:white;
        margin-right: 70px;
        align-self: flex-end;
        position: relative;
        top:315px;
        transform: rotate(90deg);
        font-size:18px;
}


.main-cover_content{
    background:url(img/qqqq.jpg)no-repeat;
    background-attachment: fixed;
    background-size:100% 100%;
    height:100%;
    width: 1150px;
    text-align: center;
    margin: auto;

}
.main-cover_content h1{
    color:white;
    position: relative;
    top: 300px;
    font-size: 45px;
}
.main-cover_content a{
    text-align: center;
    padding: 15px 15px 10px 15px;
    margin: auto;
    position: relative;
    top: 300px;
    font-size: 20px;
    color:white;
    display: block;
    width: 250px;
    height: 30px;
    border:2px solid white ;
}
.conteiner-about{
    width: 100%;
    height: 400px;
    font-size: 18px;
}

.conteiner-about__content{
    width: 100%;
    height: 170px;
    font-size: 26px;
    position: relative;
    top:80px;
    display: flex;
    justify-content: space-around;
    margin: auto;

}

.about__content__heading{
    width: 380px;
    height: 50px;
    align-self: flex-end;
}

.about__content__heading h1{
     margin: 0;

}

.about__content__heading em{
font-weight: lighter;
}

.about__content__content{
    width: 553px;
    height: 130px;
    align-self: flex-end;
}

.about__content__content p{
    margin-top:5px;
    line-height: 1.4;
}


.about__content__content h5{
    margin-top: 10px;;
margin:0;
font-weight: lighter;
}

.conteiner-stories{
 width: 100%;
 height:1800px;
 background-color: #EDECEC;
 font-size: 22px;
}

.stories-conteiner__group{
   width: 1150px;
   height: 100%;
   margin: auto;
   display: flex;
   flex-direction: column;
}

.stories-conteiner__group p{
 margin: 0;
 font-size:22px;
}

.conteiner-group__header{
    margin: auto;
    margin-bottom:25px;
    margin-top: 15px;
    text-align: center;

}

.conteiner-group__header h1{
    margin-bottom:70px;
}

.conteiner-group__header img{
    margin-top:70px;
    width: 130px;
    height: 30px;
}

.conteiner-stories__nav{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.conteiner-stories__navigation{
    width: 280px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-bottom: 2px solid black;
}

.conteiner-stories__navigation a{
 margin-left:18px;
}

.conteiner-stories__navigation img{
    margin-right: 18px;
    position: relative;
    top:5px;
    width: 15px;
    height: 15px;
}

.conteiner-stories__filter__list{
position: relative;
top:-35px;
}

.conteiner-stories__filter__list a{
   font-size: 25px;
}

.conteiner-stories__filter__list img{
  width: 55px;
  height: 55px;
  position: relative;
  top: 25px;
  left: -20px;
} 

.conteiner-section__blog{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-blog__link_heading{
 font-size: 20px;
 color:#B4B6B8;
}

.section-blog{
    width: 550px;
    height: 650px;
    background: url(img/08_ShantellMartin_wide.jpg) no-repeat;
    background-size:100%;
    margin-top: 35px;
}

.blog-section__link__line{
    width: 200px;
    height: 3px;
    background:#D9EDE0;
    position: relative;
    top:-15px;
}

.section-blog__link__text{
    width: 440px;
    height: 200px;
    margin: auto;
    padding-top: 20px;
}

.section-blog__link{
    background: white;
    width: 100%;
    height: 40%;
    position: relative;
    top:400px;
}

.blog-section__link__time{
    position: relative;
    left:350px;
}

.section-blog2{
    width: 550px;
    height: 650px;
    background: url(img/03_Cre_wide.jpg) no-repeat;
    background-size:100%;
    margin-top: 30px;
}

.section-blog2__link{
    background: white;
    width: 100%;
    height: 40%;
    position: relative;
    top:400px;
}
.section-blog2__link__text{
    width: 440px;
    height: 200px;
    margin: auto;
    padding-top: 20px;
}
.blog-section2__link__line{
    width: 200px;
    height: 3px;
    background:#D9EDE0;
    position: relative;
    top:-15px;
}
.blog-section2__link__time{
    position: relative;
    left:350px;
}
.section-blog3{
    width: 550px;
    height: 650px;
    background: url(img/02_WV_wide.jpg) no-repeat;
    background-size:100%;
    margin-top: 30px;
}
.section-blog3__link{
    background: white;
    width: 100%;
    height: 40%;
    position: relative;
    top:400px;
}
.section-blog3__link__text{
    width: 440px;
    height: 200px;
    margin: auto;
    padding-top: 20px;
}
.blog-section3__link__line{
    width: 200px;
    height: 3px;
    background:#D9EDE0; 
    position: relative;
    top:-20px;
}
.blog-section3__link__time{
    position: relative;
    left:350px;
}
.section-blog4{
    width: 550px;
    height: 650px;
    background: url(img/04_JustinChung_wide.jpg) no-repeat;
    background-size:100%;
    margin-top: 30px;
}

.section-blog4__link{
    background: white;
    width: 100%;
    height: 40%;
    position: relative;
    top:400px;
}

.section-blog4__link__text{
    width: 440px;
    height: 200px;
    margin: auto;
    padding-top: 20px;
}


.blog-section4__link__line{
    width: 290px;
    height: 3px;
    background:#D9EDE0; 
    position: relative;
    top:-15px;
}

.blog-section4__link__time{
    position: relative;
    left:350px;
}

.conteiner-stories2{
    width: 100%;
    height:1630px;
    padding-top: 100px;
    background-color: #EDECEC;
}

.stories-conteiner2__group{
    width: 1150px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    justify-content: space-between;
    align-content: space-between;
}

.stories-conteiner2__history1{
   background: url(img/02_Joekenneth_wide.jpg) no-repeat;
   width:550px;
   height:680px;
   background-size:100%;
}

.stories-conteiner2__history2{
    background: url(img/01_Antelope_wide.jpg) no-repeat;
    width:550px;
    height:660px;
    background-size:100%;
}

.stories-conteiner2__history3{
    background: url(img//01-CodyCobb_Wide1.jpg) no-repeat;
    width:550px;
    height:680px;
    background-size:100%;
    margin-top: 80px;
}

.stories-conteiner2__history4{
    background: url(img/07-JulianneAhn_Wide..jpg) no-repeat;
    width:550px;
    height:680px;
    margin-top: 80px;
    background-size:100%;
}

.conteiner2-history1__content{
    background: white;
    width:100%;
    height:39%;
    position: relative;
    top: 65%;
}

.conteiner2-history2__content{
    background: white;
    width:100%;
    height:36%;
    position: relative;
    top: 65%;
}

.conteiner2-history3__content{
    background: white;
    width:100%;
    height:35%;
    position: relative;
    top: 65%;
}

.conteiner2-history4__content{
    background: white;
    width:100%;
    height:35%;
    position: relative;
    top: 65%;
}

.conteiner2-history1__content{
    margin: auto;
}

.history1__content-text, .history3__content-text, .history2__content-text{
    width: 440px;
    height: 200px;
    margin: auto;
    padding-top: 20px;
}

.history-content__link{
    font-size: 22px;
    color: #B4B6B8;
}

.history-content__link__header{
    font-size: 22px;
}

.stories-conteiner2__group p{
    margin: 0;
    letter-spacing: 1px;
}

.stories-conteiner2__group h1{
    margin-top:14px;
}

.blog-section1__link__line{
    width: 340px;
    height: 3px;
    background:#3a9d5d; 
    position: relative;
    top:-13px;
}

.blog-section2__link__time{
    position:relative;
    left: 350px;
}

.conteiner2__history4-linkgreen{
color:white;
width: 140px;
height: 30px;
padding-top: 5px;
background-color:#3a9d5d;
position: absolute;
top:-2px;
right: -1px;
text-align: center;
}

.conteiner-stories2__moretories{
    margin: auto;
    margin-top: 100px;
    width: 250px;
   height: 30px;
}
.conteiner-stories2__moretories a{
    color:#999;
    font-size: 22px;
    letter-spacing: 1px;
}

.conteiner-stories2__moretories img{
    width: 15px;
height: 15px;
}

.conteiner-films{
    background-color: #E5E5E5;
    width: 100%;
    height: 600px;
}

.conteiner-films__video{
    width: 100%;
}
.conteiner-films__header h1{
    margin: 0;
    letter-spacing: 1px;
    font-weight: lighter;
}

.conteiner-films__header {
    width: 250px;
    height: 50px;
    margin: auto;
    padding: 50px;
}
.conteiner-blog{
    width: 100%;
    height: 700px;
}
.section-blog__content{
    width:1000px;
    height: 700px;
    margin: auto;
}
.blog-header{
    width: 500px;
    height: 50px;
    margin: 70px auto 0;
    padding: 20px;
    border-top: 1px solid #D6D6D8;
    text-align: center;
}
.blog-link{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.blog__content{
    width: 210px;
    height: 500px;
}
.blog__content a img{
    width: 210px;
    height: 210px;
}
.blog__content h2{
    font-weight: 500;
}
.blog__content p{
     margin: 0;
     line-height: 1.5;
      font-size: 20px;
}
.visit_blog{
    height: 50px;
    margin: auto;
    width:500px;
    border-bottom: 1px solid #D6D6D8;
    text-align: center;
}
.visit_blog a{
    color: #5BB48B;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    
}
.visit_blog img{
    position: relative;
    top:11px;
    right: 13px;
    width:30px;
    height: 30px;
    margin: auto;
}